<div class="welcome">
	<h3 style="text-align: center;">Tech Cruch Edition: Saved Articles</h3>
</div>
<br>
<div id="articles">
	{{#each articles}}
		<a href="{{url}}" target="_blank" style="font-weight: bold;">{{title}}</a>
		<h6>{{byLine}}</h6>
		<h6>{{created}}</h6>
		<p>{{excerpt}}</p>
		<button id="addNotes" data-id="{{id}}">Add Notes</button>
		<button class="delete-article" data-id="{{id}}">Delete Saved Article</button>
		<hr>
	{{/each}}	
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="displayNotes">

    </div>
    <br>
    <form>
		<textarea id="notes" name="notes" placeholder="Notes" style="width: 500px; padding: 10px 0;"></textarea>
		<br>
		<button id="submit">Save</a>
    </form>
  </div>

</div>

<script type="text/javascript">

	// Get the modal
	var modal = document.getElementById('myModal');

	// Get the button that opens the modal
	var btn = document.getElementById("addNotes");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];

	// Click function for "Add Notes" Button
	// Open a Modal and display all existing Notes
	$(document).on("click", "#addNotes", function() {
		event.preventDefault();

		// Display Modal
	    modal.style.display = "block";

	    // Remember the ID for the Article that opened the Modal
	    var id = $(this).attr("data-id");

	    // Save the Article ID as data-attribute to the "Save Notes" button
	    $("#submit").attr("data-id", id);
	    $('#displayNotes').attr("data-id", id);

	    // Get all notes and display
	    $.ajax({
			url: "/notes/" + id,
			method: "GET"
		}).done(function(data) {
			var displayDiv = $('#displayNotes');
			var notes = data.notes;

			// Make sure to empty out the div before adding all notes
			displayDiv.empty();

			for (var i=0; i<notes.length; i++){
				var noteDiv = $("<div>");
				noteDiv.append(notes[i].text + " ");
				noteDiv.append("<button id=\"deleteNote\" " +
					"data-id=\"" + 
					notes[i]._id + "\">x</button><hr>");
				displayDiv.append(noteDiv);
			}
		});	
	});

	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}

	// Click handler for "Delete Notes" Button
	$(document).on("click", "#deleteNote", function() {
		event.preventDefault();

		// Get both note and article id
		var id = $(this).attr("data-id");
		var article = $(this).parent().parent().attr("data-id");
		
		var delObj = {
			id: article
		};

		// Initiate the Delete
		$.ajax({
			url: "/delete-note/"+id,
			method: "POST",
			data: delObj
		})
		.done(function(data) {
			console.log(data);
		});

		// Remove the elements from the display
		$(this).parent().remove();
	});

	// Click handler for Save Notes Button
	$(document).on("click", "#submit", function() {
		event.preventDefault();

		if (document.getElementById('notes').value == "") {
			//Validate
			alert("Fill All Fields !");
		} else {
			var notesObj = {
				text: $("#notes").val().trim()
			}
			$("#notes").val('');
			var id = $(this).attr("data-id");

			var displayDiv = $('#displayNotes');
				var noteDiv = $("<div>");
				noteDiv.append(notesObj.text + " ");
				noteDiv.append("<button id=\"deleteNote\" " +
					"data-id=\"" + 
					id + "\">x</button><hr>");
				displayDiv.append(noteDiv);

			// Add to the database
			$.ajax({
				url: "/addnote/" + id,
				method: "POST",
				data: notesObj
			}).done(function(data) {
				console.log("Saved Note: ", data);
			});			
		}
	});

</script>




